@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;

  --font-sans: var(--font-inter);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility link {
  @apply text-blue-800 dark:text-blue-400 underline underline-offset-2 decoration-1;
}

@layer base {
  :root {
    @apply antialiased dark:bg-gray-900;
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}
ul li::marker {
  @apply text-gray-300 dark:text-gray-600;
}
