@import "tailwindcss";
@import "@fontsource-variable/geist";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}

body {
  @apply antialiased bg-gray-900;
}
